

.alert-wrapper {
    position: relative;
}

.alert-close-icon {
    font-weight: 200;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    outline: none;
    background-color: transparent;
}

.alert-closable {
    padding-right: 45px;
}

.alert-no-closable {
    padding-right: 15px;
}